<div class="container" *ngIf="contact">
  <div class="row">
    <h4>Контакт</h4>
  </div>
  <div class="row">
    <div class="col-sm-12">
        <div class="form-group">
          <label for="contact-name">ФИО</label>
          <input [(ngModel)]="contact.name" name="name" type="text" class="form-control" id="contact-name"  placeholder="Введите имя контакта">
        </div>
        <div class="form-group">
          <label for="contact-org">Организация</label>
          <input type="text" class="form-control" id="contact-org" [(ngModel)]="contact.organization" placeholder="Введите название организации">
        </div>
        <div class="form-group">
          <label for="contact-email">Email адрес</label>
          <input type="email" class="form-control" id="contact-email" [(ngModel)]="contact.email" placeholder="Введите email">
        </div>
    </div>
  </div>
  <hr/>
  <div class="row">
    <h5>Номера телефонов:</h5>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-row">
        <div class="col">
          <select #phoneTypeInput id="inputType" class="form-control">
            <option selected>mobile</option>
            <option>work</option>
            <option>home</option>
          </select>
        </div>
        <div class="col">
          <input id="inputPhone" #phoneNumberInput type="text" class="form-control" placeholder="Номер телефона">
        </div>
        <div class="col">
          <button type="button" class="btn btn-info">Добавить</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table class="table">
        <thead>
        <tr>
          <th>Номер телефона</th>
          <th>Тип</th>
          <th>Удалить</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let phoneNumber of contact.phoneNumbers">
            <td>
              {{phoneNumber.number}}
            </td>
            <td>
              {{phoneNumber.type}}
            </td>
            <td>
              <button type="button" class="btn btn-danger btn-sm">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <hr/>
  <button type="button" class="btn btn-primary" (click)="update()">Сохранить</button>
</div>
